@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedRegular_0.eot");
  src: url("../fonts/RobotoCondensedRegular_0.eot") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular_0.woff2") format("woff2"), url("../fonts/RobotoCondensedRegular_0.woff") format("woff"), url("../fonts/RobotoCondensedRegular_0.ttf") format("truetype"), url("../fonts/RobotoCondensedRegular_0.svg#RobotoCondensedRegular_0") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedBold_0.eot");
  src: url("../fonts/RobotoCondensedBold_0.eot") format("embedded-opentype"), url("../fonts/RobotoCondensedBold_0.woff2") format("woff2"), url("../fonts/RobotoCondensedBold_0.woff") format("woff"), url("../fonts/RobotoCondensedBold_0.ttf") format("truetype"), url("../fonts/RobotoCondensedBold_0.svg#RobotoCondensedBold_0") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedBoldItalic_0.eot");
  src: url("../fonts/RobotoCondensedBoldItalic_0.eot") format("embedded-opentype"), url("../fonts/RobotoCondensedBoldItalic_0.woff2") format("woff2"), url("../fonts/RobotoCondensedBoldItalic_0.woff") format("woff"), url("../fonts/RobotoCondensedBoldItalic_0.ttf") format("truetype"), url("../fonts/RobotoCondensedBoldItalic_0.svg#RobotoCondensedBoldItalic_0") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedItalic_0.eot");
  src: url("../fonts/RobotoCondensedItalic_0.eot") format("embedded-opentype"), url("../fonts/RobotoCondensedItalic_0.woff2") format("woff2"), url("../fonts/RobotoCondensedItalic_0.woff") format("woff"), url("../fonts/RobotoCondensedItalic_0.ttf") format("truetype"), url("../fonts/RobotoCondensedItalic_0.svg#RobotoCondensedItalic_0") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* line 49, sass/_theme.scss */
input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select {
  background-color: #f2f2f2;
  border: medium none;
  height: 30px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  padding-left: 3px;
}

/* line 59, sass/_theme.scss */
textarea {
  background-color: #f2f2f2;
  border: medium none;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  padding-left: 3px;
  height: 80px;
}

/* line 70, sass/_theme.scss */
input[type="submit"], .new_time, #edit-actions a, .xoa_node div a {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 6px 10px;
  min-width: 104px;
  background: #47812c;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  display: inline-block;
  text-align: center;
}
/* line 85, sass/_theme.scss */
input[type="submit"]:hover, .new_time:hover, #edit-actions a:hover, .xoa_node div a:hover {
  background: #59a538;
  color: #fff;
  text-decoration: none;
}

/* line 93, sass/_theme.scss */
.clrb {
  clear: left;
}

/* line 97, sass/_theme.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 101, sass/_theme.scss */
a {
  color: #47812c;
  text-decoration: none;
}
/* line 104, sass/_theme.scss */
a:hover {
  text-decoration: underline;
}

/* line 108, sass/_theme.scss */
a.chua_giao {
  color: #bd3027;
}

/* line 111, sass/_theme.scss */
#content {
  width: 1004px;
  margin: auto;
  background: #fff;
  padding: 20px;
  min-height: 420px;
}

/* line 120, sass/_theme.scss */
body {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}

/* line 128, sass/_theme.scss */
#main {
  width: 1004px;
  margin: auto;
  -webkit-box-shadow: 0 7px 10px 2px #a9abb1;
  box-shadow: 0 7px 10px 2px #a9abb1;
}

/* line 134, sass/_theme.scss */
.sticky-header {
  display: none;
}

/* line 138, sass/_theme.scss */
.menu_student, .page-user ul.tabs.primary {
  margin: auto;
  list-style: none;
  width: 1004px;
  background: #47812c;
  border-bottom: 3px solid #B43B3B;
  padding: 0 20px;
}
/* line 145, sass/_theme.scss */
.menu_student li, .page-user ul.tabs.primary li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 26px 0 0;
  padding: 9px 0 11px;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/* line 153, sass/_theme.scss */
.menu_student li:hover::after, .menu_student li.active::after, .page-user ul.tabs.primary li:hover::after, .page-user ul.tabs.primary li.active::after {
  border-bottom: 12px solid #B43B3B;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  width: 0;
}
/* line 166, sass/_theme.scss */
.menu_student li:hover a, .menu_student li.active a, .page-user ul.tabs.primary li:hover a, .page-user ul.tabs.primary li.active a {
  color: #fff;
}
/* line 170, sass/_theme.scss */
.menu_student li a, .page-user ul.tabs.primary li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: white;
  float: none;
  font-size: 18px;
}
/* line 175, sass/_theme.scss */
.menu_student li a:hover, .page-user ul.tabs.primary li a:hover {
  text-decoration: none;
  color: #fff;
}

/* line 183, sass/_theme.scss */
table {
  border: 1px solid #ccc;
  width: 100%;
}
/* line 186, sass/_theme.scss */
table tr.even, table tr.odd {
  background-color: transparent;
}
/* line 189, sass/_theme.scss */
table th, table td {
  padding: 5px 8px;
  border-left: 1px solid #ccc;
}
/* line 193, sass/_theme.scss */
table th {
  border-bottom-width: 1px;
}
/* line 198, sass/_theme.scss */
table tr th:first-child, table tr td:first-child {
  border-left: none;
}

/* line 205, sass/_theme.scss */
.sub_menu_student {
  margin: 0 0 20px;
  list-style: none;
  padding: 4px 20px 6px;
  border-bottom: 1px solid #ccc;
}
/* line 210, sass/_theme.scss */
.sub_menu_student li {
  display: inline-block;
  margin-right: 15px;
  border-right: 1px solid #ccc;
  padding: 1px 15px 2px 0;
}
/* line 215, sass/_theme.scss */
.sub_menu_student li:last-child {
  border-right: none;
}
/* line 218, sass/_theme.scss */
.sub_menu_student li.active {
  font-weight: bold;
}

/* line 225, sass/_theme.scss */
.form-type-radios.form-item-loc-theo label {
  float: left;
  width: 60px;
}
/* line 230, sass/_theme.scss */
.form-type-radios.form-item-loc-theo .form-radios label {
  float: none;
  width: auto;
}
/* line 234, sass/_theme.scss */
.form-type-radios.form-item-loc-theo .form-radios .form-item-loc-theo {
  display: inline-block;
  width: 19%;
}
/* line 237, sass/_theme.scss */
.form-type-radios.form-item-loc-theo .form-radios .form-item-loc-theo input, .form-type-radios.form-item-loc-theo .form-radios .form-item-loc-theo label {
  margin-top: 0;
  vertical-align: middle;
}

/* line 247, sass/_theme.scss */
.xoa_node {
  text-align: center;
}
/* line 249, sass/_theme.scss */
.xoa_node div {
  margin-top: 20px;
}
/* line 251, sass/_theme.scss */
.xoa_node div a {
  min-width: 85px;
  margin: 0 7px;
}

/* line 259, sass/_theme.scss */
.page-caidat-kpi-admin-delete h1#page-title {
  padding-top: 45px;
}

/* line 1, sass/_header.scss */
#header {
  background: #fff;
  border-bottom: 2px solid #47812c;
  margin-bottom: 25px;
}
/* line 6, sass/_header.scss */
#header #page-wrapper {
  width: 1004px;
  margin: auto;
}
/* line 10, sass/_header.scss */
#header #logo {
  float: left;
  margin: 7px 0 5px;
}
/* line 14, sass/_header.scss */
#header #name-and-slogan {
  display: none;
}
/* line 17, sass/_header.scss */
#header .region-header {
  float: right;
  margin-top: 30px;
}
/* line 20, sass/_header.scss */
#header .region-header h2 {
  display: none;
}
/* line 23, sass/_header.scss */
#header .region-header ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 27, sass/_header.scss */
#header .region-header ul.menu > li {
  display: inline-block;
  margin-left: 30px;
  position: relative;
  vertical-align: top;
}
/* line 32, sass/_header.scss */
#header .region-header ul.menu > li a {
  border-bottom: 1px solid #47812c;
  color: #bd3027;
  font-size: 18px;
  padding: 0 0 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
/* line 40, sass/_header.scss */
#header .region-header ul.menu > li a:hover, #header .region-header ul.menu > li a.active {
  border-bottom-width: 3px;
  padding-bottom: 0;
}
/* line 45, sass/_header.scss */
#header .region-header ul.menu > li ul {
  position: absolute;
  top: 100%;
  width: 400px;
  left: -200px;
  margin-top: 8px;
  text-align: center;
}
/* line 53, sass/_header.scss */
#header .region-header ul.menu > li ul li a {
  text-transform: inherit;
  border: none;
  font-size: 16px;
  color: #47812c;
}

/* line 1, sass/_footer.scss */
#footer-wrapper {
  background: #fff;
  padding: 20px 0;
  margin-top: 30px;
}
/* line 5, sass/_footer.scss */
#footer-wrapper #page-wrapper {
  width: 1004px;
  margin: auto;
  text-align: center;
}

/* line 1, sass/_nhanvien.scss */
#page-title {
  margin: 0 0 30px;
  font-size: 24px;
  text-align: center;
}

/* line 9, sass/_nhanvien.scss */
.page-nhanvien .block-system label {
  font-weight: normal;
}
/* line 12, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image {
  float: left;
  width: 220px;
  margin-right: 20px;
  min-height: 125px;
  text-align: center;
}
/* line 18, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image div.image-widget-data {
  float: none;
}
/* line 21, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image label {
  display: none;
}
/* line 24, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image input[type="submit"] {
  margin-top: 8px;
}
/* line 26, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image input[type="submit"]#edit-field-image-und-0-remove-button {
  background: none;
  color: #333;
  font-size: 13px;
  text-transform: capitalize;
}
/* line 31, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image input[type="submit"]#edit-field-image-und-0-remove-button:hover {
  color: #fcbc17;
}
/* line 36, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image div.image-preview {
  float: none;
  padding: 0;
  text-align: center;
}
/* line 41, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image .file, .page-nhanvien .block-system .field-type-image .file-size {
  display: none;
}
/* line 44, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image .form-managed-file {
  text-align: center;
}
/* line 48, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image .description {
  display: none;
}
/* line 52, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-text, .page-nhanvien .block-system .field-type-datestamp, .page-nhanvien .block-system .field-type-text-with-summary {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 15px;
}
/* line 57, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-text label, .page-nhanvien .block-system .field-type-text legend, .page-nhanvien .block-system .field-type-datestamp label, .page-nhanvien .block-system .field-type-datestamp legend, .page-nhanvien .block-system .field-type-text-with-summary label, .page-nhanvien .block-system .field-type-text-with-summary legend {
  margin-bottom: 3px;
}
/* line 61, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-text div, .page-nhanvien .block-system .field-type-datestamp div, .page-nhanvien .block-system .field-type-text-with-summary div {
  margin: 0;
}
/* line 65, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title, .page-nhanvien .block-system .field-name-field-tenkhac, .page-nhanvien .block-system .field-name-field-ngaysinh, .page-nhanvien .block-system .field-name-field-gioitinh {
  float: left;
  width: 724px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0;
}
/* line 73, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title div, .page-nhanvien .block-system .field-name-field-tenkhac div, .page-nhanvien .block-system .field-name-field-ngaysinh div, .page-nhanvien .block-system .field-name-field-gioitinh div {
  margin: 0;
}
/* line 76, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title label, .page-nhanvien .block-system .form-item-title legend, .page-nhanvien .block-system .field-name-field-tenkhac label, .page-nhanvien .block-system .field-name-field-tenkhac legend, .page-nhanvien .block-system .field-name-field-ngaysinh label, .page-nhanvien .block-system .field-name-field-ngaysinh legend, .page-nhanvien .block-system .field-name-field-gioitinh label, .page-nhanvien .block-system .field-name-field-gioitinh legend {
  float: left;
  width: 40%;
  background: #47812c;
  color: #fff;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  margin: 0;
}
/* line 86, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title input, .page-nhanvien .block-system .form-item-title select, .page-nhanvien .block-system .form-item-title .fieldset-wrapper, .page-nhanvien .block-system .field-name-field-tenkhac input, .page-nhanvien .block-system .field-name-field-tenkhac select, .page-nhanvien .block-system .field-name-field-tenkhac .fieldset-wrapper, .page-nhanvien .block-system .field-name-field-ngaysinh input, .page-nhanvien .block-system .field-name-field-ngaysinh select, .page-nhanvien .block-system .field-name-field-ngaysinh .fieldset-wrapper, .page-nhanvien .block-system .field-name-field-gioitinh input, .page-nhanvien .block-system .field-name-field-gioitinh select, .page-nhanvien .block-system .field-name-field-gioitinh .fieldset-wrapper {
  float: left;
  width: 60% !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  text-indent: 5px;
}
/* line 94, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title {
  border-top: 1px solid #ccc;
}
/* line 99, sass/_nhanvien.scss */
.page-nhanvien .block-system .group_info {
  clear: left;
  font-size: 16px;
  border-bottom: 2px solid #47812c;
  padding-bottom: 2px;
  margin: 0 0 20px;
  padding-top: 30px;
  text-transform: uppercase;
}
/* line 108, sass/_nhanvien.scss */
.page-nhanvien .block-system h3 {
  font-weight: normal;
  font-size: 15px;
  clear: left;
}
/* line 113, sass/_nhanvien.scss */
.page-nhanvien .block-system .h3-float {
  float: left;
  padding-left: 10px;
  width: 10%;
  margin: 5px 0 0;
}
/* line 120, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-xa, .page-nhanvien .block-system .field-name-field-huyen, .page-nhanvien .block-system .field-name-field-tinh,
.page-nhanvien .block-system .field-name-field-xa-que, .page-nhanvien .block-system .field-name-field-huyen-que, .page-nhanvien .block-system .field-name-field-tinh-que {
  float: left;
  width: 30%;
}
/* line 124, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-xa div, .page-nhanvien .block-system .field-name-field-huyen div, .page-nhanvien .block-system .field-name-field-tinh div,
.page-nhanvien .block-system .field-name-field-xa-que div, .page-nhanvien .block-system .field-name-field-huyen-que div, .page-nhanvien .block-system .field-name-field-tinh-que div {
  margin: 0;
}
/* line 127, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-xa label, .page-nhanvien .block-system .field-name-field-huyen label, .page-nhanvien .block-system .field-name-field-tinh label,
.page-nhanvien .block-system .field-name-field-xa-que label, .page-nhanvien .block-system .field-name-field-huyen-que label, .page-nhanvien .block-system .field-name-field-tinh-que label {
  float: left;
  width: 17%;
  margin-top: 5px;
}
/* line 132, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-xa input, .page-nhanvien .block-system .field-name-field-huyen input, .page-nhanvien .block-system .field-name-field-tinh input,
.page-nhanvien .block-system .field-name-field-xa-que input, .page-nhanvien .block-system .field-name-field-huyen-que input, .page-nhanvien .block-system .field-name-field-tinh-que input {
  width: 83%;
}
/* line 137, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-tham-gia {
  clear: left;
}
/* line 141, sass/_nhanvien.scss */
.page-nhanvien .block-system fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
/* line 145, sass/_nhanvien.scss */
.page-nhanvien .block-system fieldset div {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
/* line 149, sass/_nhanvien.scss */
.page-nhanvien .block-system fieldset div input {
  width: 100% !important;
}
/* line 153, sass/_nhanvien.scss */
.page-nhanvien .block-system fieldset label, .page-nhanvien .block-system fieldset .description {
  display: none;
}
/* line 158, sass/_nhanvien.scss */
.page-nhanvien .block-system table {
  border: 1px solid #ccc;
  width: 100%;
}
/* line 162, sass/_nhanvien.scss */
.page-nhanvien .block-system table fieldset legend {
  display: none;
}
/* line 166, sass/_nhanvien.scss */
.page-nhanvien .block-system table tr.even, .page-nhanvien .block-system table tr.odd {
  background-color: transparent;
}
/* line 169, sass/_nhanvien.scss */
.page-nhanvien .block-system table th, .page-nhanvien .block-system table td {
  padding: 5px 8px;
  border-left: 1px solid #ccc;
}
/* line 173, sass/_nhanvien.scss */
.page-nhanvien .block-system table th {
  border-bottom-width: 1px;
}
/* line 178, sass/_nhanvien.scss */
.page-nhanvien .block-system table tr th:first-child, .page-nhanvien .block-system table tr td:first-child {
  border-left: none;
}
/* line 185, sass/_nhanvien.scss */
.page-nhanvien .block-system h1 {
  font-size: 18px;
  clear: both;
}
/* line 190, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-actions input {
  margin-right: 15px;
}
/* line 194, sass/_nhanvien.scss */
.page-nhanvien .block-system h4 {
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
  margin: 10px 0 0;
}
/* line 200, sass/_nhanvien.scss */
.page-nhanvien .block-system #edit-fgm-node-article-form-group-congtac-add-more {
  margin-bottom: 20px;
}
/* line 203, sass/_nhanvien.scss */
.page-nhanvien .block-system #edit-actions {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-top: 25px;
}
/* line 208, sass/_nhanvien.scss */
.page-nhanvien .block-system #fgm_node_article_form_group_chiteu-add-more-wrapper {
  position: relative;
}
/* line 214, sass/_nhanvien.scss */
.page-nhanvien .block-system #fgm_node_article_form_group_chiteu-add-more-wrapper table tr td:first-child select {
  width: 170px;
}
/* line 219, sass/_nhanvien.scss */
.page-nhanvien .block-system #fgm_node_article_form_group_chiteu-add-more-wrapper table tr td:nth-child(2) select {
  width: 240px;
}
/* line 232, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-phong-ban {
  margin-bottom: -50px;
}
/* line 234, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-phong-ban::after {
  content: "";
  display: table;
  clear: both;
}
/* line 239, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-phong-ban .form-item-field-phong-ban-und {
  float: right;
  width: 45%;
  font-size: 0;
}
/* line 243, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-phong-ban .form-item-field-phong-ban-und label {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  position: relative;
  top: 6px;
}
/* line 252, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-phong-ban .form-item-field-phong-ban-und select {
  width: 75%;
  font-size: 13px;
  vertical-align: middle;
}

/* line 264, sass/_nhanvien.scss */
.admin-menu.page-nhanvien div.vertical-tabs {
  margin-top: 60px;
}
/* line 267, sass/_nhanvien.scss */
.admin-menu.page-nhanvien .block-system #fgm_node_article_form_group_chiteu-add-more-wrapper .field-group-multiple-add-more-submit {
  left: 0;
}

/* line 275, sass/_nhanvien.scss */
.page-nhanvien-kpi .block-system #article-node-form .field-name-field-phong-ban {
  margin-bottom: 0;
}
/* line 284, sass/_nhanvien.scss */
.page-nhanvien-kpi #block-nhansu-kpi-kpi-user #editableviews-entity-form-kpi-user table td ul li {
  min-height: 42px;
}

/* line 294, sass/_nhanvien.scss */
.page-home #content {
  min-height: 800px;
}

/* line 300, sass/_nhanvien.scss */
.print_ex {
  margin-top: 20px;
  text-align: right;
}
/* line 303, sass/_nhanvien.scss */
.print_ex a {
  text-align: left;
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../images/print-export-btn.png") no-repeat right 0;
}

/* line 316, sass/_nhanvien.scss */
.page-nhanvien-hoso .block-system .field-name-field-phong-ban {
  margin-bottom: 0;
}
/* line 319, sass/_nhanvien.scss */
.page-nhanvien-hoso .block-system .form-actions.form-wrapper {
  clear: both;
  border: none !important;
}
/* line 27, sass/_mixin.scss */
.page-nhanvien-hoso .block-system .form-actions.form-wrapper::after, .page-nhanvien-hoso .block-system .form-actions.form-wrapper::before {
  display: table;
  clear: both;
  content: "";
}
/* line 323, sass/_nhanvien.scss */
.page-nhanvien-hoso .block-system h3 {
  display: none;
}
/* line 326, sass/_nhanvien.scss */
.page-nhanvien-hoso .block-system .required-fields {
  padding-top: 20px;
}
/* line 331, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-mota .group-nang-luc {
  display: none;
}
/* line 336, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-nangluc .field-type-number-integer, .page-nhanvien-hoso.page-nhanvien-hoso-nangluc .group-nang-luc + .required-fields {
  display: none;
}
/* line 339, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-nangluc h3 {
  display: block;
  font-size: 16px;
  border-bottom: 2px solid #47812c;
  text-transform: uppercase;
  padding-bottom: 2px;
}
/* line 346, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-nangluc table {
  border: none;
}
/* line 348, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-nangluc table th {
  font-weight: normal;
}
/* line 351, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-nangluc table th, .page-nhanvien-hoso.page-nhanvien-hoso-nangluc table td, .page-nhanvien-hoso.page-nhanvien-hoso-nangluc table tr, .page-nhanvien-hoso.page-nhanvien-hoso-nangluc table thead, .page-nhanvien-hoso.page-nhanvien-hoso-nangluc table tbody {
  border: none;
  vertical-align: top;
}
/* line 357, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-nangluc #fgm_node_article_form_group_chuyen_mon-add-more-wrapper table {
  width: 66.66%;
}
/* line 361, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-nangluc .form-actions.form-wrapper {
  border-top: 1px solid #ccc !important;
}
/* line 366, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-congdanh .form-actions.form-wrapper {
  border-top: 1px solid #ccc !important;
}
/* line 371, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-daingo #block-system-main {
  width: 60%;
  margin: auto;
}
/* line 375, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-daingo .block-system .field-type-text, .page-nhanvien-hoso.page-nhanvien-hoso-daingo .block-system .field-type-datestamp, .page-nhanvien-hoso.page-nhanvien-hoso-daingo .block-system .field-type-text-with-summary {
  width: 100%;
}
/* line 377, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-daingo .block-system .field-type-text label, .page-nhanvien-hoso.page-nhanvien-hoso-daingo .block-system .field-type-datestamp label, .page-nhanvien-hoso.page-nhanvien-hoso-daingo .block-system .field-type-text-with-summary label {
  display: inline-block;
  width: 25%;
}
/* line 381, sass/_nhanvien.scss */
.page-nhanvien-hoso.page-nhanvien-hoso-daingo .block-system .field-type-text input, .page-nhanvien-hoso.page-nhanvien-hoso-daingo .block-system .field-type-datestamp input, .page-nhanvien-hoso.page-nhanvien-hoso-daingo .block-system .field-type-text-with-summary input {
  display: inline-block;
  width: 70%;
}

/* line 392, sass/_nhanvien.scss */
.view-only.page-nhanvien-hoso #block-system-main input, .view-only.page-nhanvien-hoso #block-system-main select, .view-only.page-nhanvien-hoso #block-system-main textarea {
  pointer-events: none;
}
/* line 395, sass/_nhanvien.scss */
.view-only.page-nhanvien-hoso #block-system-main .field-group-multiple-add-more-submit {
  display: none;
}

/* line 5, sass/_home.scss */
.content_revenue table thead tr {
  background: #f8f7f7;
}
/* line 9, sass/_home.scss */
.content_revenue table td {
  color: #009ac3;
}
/* line 12, sass/_home.scss */
.content_revenue table td a:hover {
  text-decoration: none;
}
/* line 16, sass/_home.scss */
.content_revenue table td span {
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: #47812c;
}
/* line 20, sass/_home.scss */
.content_revenue table td span:hover {
  color: #333;
}
/* line 25, sass/_home.scss */
.content_revenue table tr.even {
  background: #f8f7f7;
}

/* line 31, sass/_home.scss */
#chart_colum .loadding {
  text-align: center;
}
/* line 33, sass/_home.scss */
#chart_colum .loadding img {
  max-width: 45px;
}

/* line 38, sass/_home.scss */
.chart_reve {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

/* line 42, sass/_home.scss */
#nhansu-chart-form-select {
  margin-bottom: 5px;
}
/* line 44, sass/_home.scss */
#nhansu-chart-form-select::after {
  content: "";
  display: table;
  clear: both;
}
/* line 49, sass/_home.scss */
#nhansu-chart-form-select .form-type-select {
  float: left;
  width: 43%;
  padding-right: 15px;
}
/* line 53, sass/_home.scss */
#nhansu-chart-form-select .form-type-select label {
  float: left;
  width: 22%;
  margin-top: 4px;
}
/* line 58, sass/_home.scss */
#nhansu-chart-form-select .form-type-select select {
  float: left;
  width: 78%;
}

/* line 65, sass/_home.scss */
.filter_time {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 10px;
  clear: both;
}
/* line 27, sass/_mixin.scss */
.filter_time::after, .filter_time::before {
  display: table;
  clear: both;
  content: "";
}
/* line 70, sass/_home.scss */
.filter_time .container-inline-date {
  float: left;
  width: 21.7%;
  clear: inherit;
  padding-right: 15px;
  margin-bottom: 1em;
}
/* line 76, sass/_home.scss */
.filter_time .container-inline-date div {
  display: block;
}
/* line 79, sass/_home.scss */
.filter_time .container-inline-date .form-item .form-item {
  float: none;
}
/* line 82, sass/_home.scss */
.filter_time .container-inline-date > .form-item {
  margin-right: 0;
}
/* line 86, sass/_home.scss */
.filter_time label {
  float: left;
  width: 33%;
  margin-top: 5px;
}
/* line 91, sass/_home.scss */
.filter_time .date-padding {
  float: left;
  width: 67%;
}
/* line 94, sass/_home.scss */
.filter_time .date-padding div {
  margin: 0;
  padding: 0;
}
/* line 98, sass/_home.scss */
.filter_time .date-padding input {
  width: 100%;
  margin: 0;
}
/* line 102, sass/_home.scss */
.filter_time .date-padding .description, .filter_time .date-padding label {
  display: none;
}
/* line 106, sass/_home.scss */
.filter_time input[type="submit"] {
  height: 30px;
  min-width: 65px;
}
/* line 111, sass/_home.scss */
.filter_time .form-item-selected-phong, .filter_time .form-item-selected {
  width: 43%;
  clear: both;
  padding-right: 9px;
}
/* line 27, sass/_mixin.scss */
.filter_time .form-item-selected-phong::after, .filter_time .form-item-selected-phong::before, .filter_time .form-item-selected::after, .filter_time .form-item-selected::before {
  display: table;
  clear: both;
  content: "";
}
/* line 115, sass/_home.scss */
.filter_time .form-item-selected-phong label, .filter_time .form-item-selected label {
  float: left;
  margin-top: 4px;
  width: 16%;
}
/* line 120, sass/_home.scss */
.filter_time .form-item-selected-phong select, .filter_time .form-item-selected select {
  float: left;
  width: 84%;
}
/* line 125, sass/_home.scss */
.filter_time .form-item-selected-phong, .filter_time .form-item-cac-quy {
  clear: left;
}
/* line 129, sass/_home.scss */
.filter_time .form-item-cac-quy, .filter_time .form-item-nam-quy {
  width: 20.3%;
  margin-right: 15px;
  float: left;
  margin-top: 0;
}
/* line 134, sass/_home.scss */
.filter_time .form-item-cac-quy label, .filter_time .form-item-nam-quy label {
  width: 33%;
}
/* line 137, sass/_home.scss */
.filter_time .form-item-cac-quy select, .filter_time .form-item-nam-quy select {
  width: 67%;
}

/* line 143, sass/_home.scss */
.canhbao_left {
  float: left;
}
/* line 145, sass/_home.scss */
.canhbao_left ul {
  margin: 0 0 10px 20px;
  list-style: none;
  padding: 0;
}
/* line 149, sass/_home.scss */
.canhbao_left ul li {
  margin-bottom: 5px;
  opacity: 0.2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
}
/* line 156, sass/_home.scss */
.canhbao_left ul li.dat_chuan {
  opacity: 1;
}

/* line 166, sass/_home.scss */
.canhbao_right {
  float: left;
  margin-left: 20px;
  margin-top: 56px;
  color: #bd3027;
}

@-moz-keyframes blinker {
  /* line 174, sass/_home.scss */
  0% {
    opacity: 1.0;
  }

  /* line 178, sass/_home.scss */
  50% {
    opacity: 0.0;
  }

  /* line 182, sass/_home.scss */
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blinker {
  /* line 189, sass/_home.scss */
  0% {
    opacity: 1.0;
  }

  /* line 193, sass/_home.scss */
  50% {
    opacity: 0.0;
  }

  /* line 197, sass/_home.scss */
  100% {
    opacity: 1.0;
  }
}

@keyframes blinker {
  /* line 203, sass/_home.scss */
  0% {
    opacity: 1.0;
  }

  /* line 207, sass/_home.scss */
  50% {
    opacity: 0.0;
  }

  /* line 211, sass/_home.scss */
  100% {
    opacity: 1.0;
  }
}

/* line 218, sass/_home.scss */
.content_home1 .right_1 {
  float: left;
}
/* line 221, sass/_home.scss */
.content_home1 .right_2 {
  float: right;
}

/* line 226, sass/_home.scss */
.vertical-tabs.clearfix {
  display: none;
}

/* line 5, sass/_kpi.scss */
.page-quanly-kpi-danhgia .block-system table tbody tr:last-child {
  font-weight: bold;
}

/* line 14, sass/_kpi.scss */
.page-quanly-kpi-kiemsoat .form-item-cac-quy, .page-quanly-kpi-kiemsoat .form-item-nam-quy, .page-quanly-kpi-danhgia .form-item-cac-quy, .page-quanly-kpi-danhgia .form-item-nam-quy {
  width: 20.3%;
  margin-right: 15px;
  float: left;
  margin-top: 0;
}
/* line 19, sass/_kpi.scss */
.page-quanly-kpi-kiemsoat .form-item-cac-quy label, .page-quanly-kpi-kiemsoat .form-item-nam-quy label, .page-quanly-kpi-danhgia .form-item-cac-quy label, .page-quanly-kpi-danhgia .form-item-nam-quy label {
  width: 33%;
}
/* line 22, sass/_kpi.scss */
.page-quanly-kpi-kiemsoat .form-item-cac-quy select, .page-quanly-kpi-kiemsoat .form-item-nam-quy select, .page-quanly-kpi-danhgia .form-item-cac-quy select, .page-quanly-kpi-danhgia .form-item-nam-quy select {
  width: 67%;
}

/* line 30, sass/_kpi.scss */
.page-nhanvien-kpi .new_time {
  float: right;
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}
/* line 36, sass/_kpi.scss */
.page-nhanvien-kpi .form-item-field-uid-und-0-value {
  display: none;
}
/* line 39, sass/_kpi.scss */
.page-nhanvien-kpi .nguoi_giao {
  line-height: 30px;
  float: left;
  width: 724px;
  margin: 0;
  border: 1px solid #ccc;
  padding: 0;
  clear: both;
}
/* line 27, sass/_mixin.scss */
.page-nhanvien-kpi .nguoi_giao::after, .page-nhanvien-kpi .nguoi_giao::before {
  display: table;
  clear: both;
  content: "";
}
/* line 47, sass/_kpi.scss */
.page-nhanvien-kpi .nguoi_giao span {
  background: #47812c none repeat scroll 0 0;
  color: #fff;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0 10px;
  width: 40%;
  margin-right: 8px;
}
/* line 60, sass/_kpi.scss */
.page-nhanvien-kpi .field-name-field-giaokpi-giaotheo {
  clear: both;
}
/* line 27, sass/_mixin.scss */
.page-nhanvien-kpi .field-name-field-giaokpi-giaotheo::after, .page-nhanvien-kpi .field-name-field-giaokpi-giaotheo::before {
  display: table;
  clear: both;
  content: "";
}
/* line 62, sass/_kpi.scss */
.page-nhanvien-kpi .field-name-field-giaokpi-giaotheo label[for="edit-field-giaokpi-giaotheo-und"] {
  float: left;
  margin-top: 5px;
  font-weight: bold;
  width: 80px;
}
/* line 69, sass/_kpi.scss */
.page-nhanvien-kpi .field-name-field-giaokpi-giaotheo .form-radios .form-item {
  display: inline-block;
  width: 19%;
}
/* line 72, sass/_kpi.scss */
.page-nhanvien-kpi .field-name-field-giaokpi-giaotheo .form-radios .form-item input, .page-nhanvien-kpi .field-name-field-giaokpi-giaotheo .form-radios .form-item label {
  margin-top: 0;
  vertical-align: middle;
}
/* line 80, sass/_kpi.scss */
.page-nhanvien-kpi .field-name-field-kpi-giao-tu {
  padding-left: 0 !important;
}
/* line 83, sass/_kpi.scss */
.page-nhanvien-kpi .field-name-field-kpi-giao-tu, .page-nhanvien-kpi .field-name-field-giao-kpi-den, .page-nhanvien-kpi .form-type-select.form-item-field-giaokpi-quy-und {
  margin-top: 0;
  width: 30% !important;
}
/* line 86, sass/_kpi.scss */
.page-nhanvien-kpi .field-name-field-kpi-giao-tu legend, .page-nhanvien-kpi .field-name-field-kpi-giao-tu label, .page-nhanvien-kpi .field-name-field-giao-kpi-den legend, .page-nhanvien-kpi .field-name-field-giao-kpi-den label, .page-nhanvien-kpi .form-type-select.form-item-field-giaokpi-quy-und legend, .page-nhanvien-kpi .form-type-select.form-item-field-giaokpi-quy-und label {
  float: left;
  font-weight: bold;
  margin-top: 5px;
  width: 33%;
  padding-right: 15px;
}
/* line 93, sass/_kpi.scss */
.page-nhanvien-kpi .field-name-field-kpi-giao-tu .fieldset-wrapper, .page-nhanvien-kpi .field-name-field-kpi-giao-tu select, .page-nhanvien-kpi .field-name-field-giao-kpi-den .fieldset-wrapper, .page-nhanvien-kpi .field-name-field-giao-kpi-den select, .page-nhanvien-kpi .form-type-select.form-item-field-giaokpi-quy-und .fieldset-wrapper, .page-nhanvien-kpi .form-type-select.form-item-field-giaokpi-quy-und select {
  width: 67% !important;
  float: left;
}
/* line 98, sass/_kpi.scss */
.page-nhanvien-kpi .field-name-field-giaokpi-quy {
  clear: both;
}
/* line 27, sass/_mixin.scss */
.page-nhanvien-kpi .field-name-field-giaokpi-quy::after, .page-nhanvien-kpi .field-name-field-giaokpi-quy::before {
  display: table;
  clear: both;
  content: "";
}
/* line 103, sass/_kpi.scss */
.page-nhanvien-kpi .view-id-kpi_user table td {
  vertical-align: top;
}
/* line 105, sass/_kpi.scss */
.page-nhanvien-kpi .view-id-kpi_user table td ul, .page-nhanvien-kpi .view-id-kpi_user table td li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 113, sass/_kpi.scss */
.page-nhanvien-kpi .view-id-kpi_user table td.views-field-field-giaokpi-thuchien-editable table thead, .page-nhanvien-kpi .view-id-kpi_user table td.views-field-field-giaokpi-thuchien-editable table .field-multiple-drag {
  display: none;
}
/* line 118, sass/_kpi.scss */
.page-nhanvien-kpi .view-id-kpi_user table td.views-field-field-giaokpi-thuchien-editable table tbody tr:nth-child(3) {
  display: none;
}
/* line 124, sass/_kpi.scss */
.page-nhanvien-kpi .view-id-kpi_user table td.views-field-field-giaokpi-thuchien-editable ul, .page-nhanvien-kpi .view-id-kpi_user table td.views-field-field-giaokpi-thuchien-editable .tabledrag-toggle-weight-wrapper, .page-nhanvien-kpi .view-id-kpi_user table td.views-field-field-giaokpi-thuchien-editable .clearfix, .page-nhanvien-kpi .view-id-kpi_user table td.views-field-field-giaokpi-thuchien-editable .tabledrag-handle {
  display: none;
}
/* line 131, sass/_kpi.scss */
.page-nhanvien-kpi .view-id-kpi_user #edit-actions {
  border-top: none !important;
  padding-top: 0 !important;
}
/* line 140, sass/_kpi.scss */
.page-nhanvien-kpi #fgm_node_giao_kpi_form_group_giaokpi-add-more-wrapper table tr td:first-child {
  width: 210px;
}
/* line 143, sass/_kpi.scss */
.page-nhanvien-kpi #fgm_node_giao_kpi_form_group_giaokpi-add-more-wrapper table tr td:nth-child(2) {
  width: 320px;
}
/* line 151, sass/_kpi.scss */
.page-nhanvien-kpi #block-nhansu-kpi-kpi-user span {
  font-weight: bold;
}
/* line 154, sass/_kpi.scss */
.page-nhanvien-kpi #block-nhansu-kpi-kpi-user .giao {
  margin-bottom: 3px;
}
/* line 157, sass/_kpi.scss */
.page-nhanvien-kpi #block-nhansu-kpi-kpi-user .time {
  margin-bottom: 20px;
}
/* line 159, sass/_kpi.scss */
.page-nhanvien-kpi #block-nhansu-kpi-kpi-user .time span {
  margin-left: 20px;
}
/* line 161, sass/_kpi.scss */
.page-nhanvien-kpi #block-nhansu-kpi-kpi-user .time span:first-child, .page-nhanvien-kpi #block-nhansu-kpi-kpi-user .time span:nth-child(2) {
  margin-left: 0;
}
/* line 169, sass/_kpi.scss */
.page-nhanvien-kpi #fgm-node-giao-kpi-form-group-giaokpi-values tr td:nth-child(7), .page-nhanvien-kpi #fgm-node-giao-kpi-form-group-giaokpi-values tr td:nth-child(8) {
  display: none;
}
/* line 172, sass/_kpi.scss */
.page-nhanvien-kpi #fgm-node-giao-kpi-form-group-giaokpi-values tr th:nth-child(7), .page-nhanvien-kpi #fgm-node-giao-kpi-form-group-giaokpi-values tr th:nth-child(8) {
  display: none;
}
/* line 179, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me #fgm-node-giao-kpi-form-group-giaokpi-values input, .page-nhanvien-kpi.ex_me #fgm-node-giao-kpi-form-group-giaokpi-values select {
  pointer-events: none;
  background-color: transparent;
}
/* line 183, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me #fgm-node-giao-kpi-form-group-giaokpi-values select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  appearance: none;
}
/* line 42, sass/_mixin.scss */
.page-nhanvien-kpi.ex_me #fgm-node-giao-kpi-form-group-giaokpi-values select::-ms-expand {
  display: none;
}
/* line 187, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me #fgm-node-giao-kpi-form-group-giaokpi-values tr td:nth-child(7), .page-nhanvien-kpi.ex_me #fgm-node-giao-kpi-form-group-giaokpi-values tr td:nth-child(8) {
  display: table-cell;
}
/* line 190, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me #fgm-node-giao-kpi-form-group-giaokpi-values tr th:nth-child(7), .page-nhanvien-kpi.ex_me #fgm-node-giao-kpi-form-group-giaokpi-values tr th:nth-child(8) {
  display: table-cell;
}
/* line 194, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me #fgm-node-giao-kpi-form-group-giaokpi-values tr td:nth-child(7) input {
  pointer-events: inherit;
  background-color: #f2f2f2;
}
/* line 203, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me #fgm_node_giao_kpi_form_group_giaokpi-add-more-wrapper .field-group-multiple-add-more-submit {
  display: none;
}
/* line 207, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me .field-name-field-giaokpi-giaotheo, .page-nhanvien-kpi.ex_me .field-name-field-kpi-giao-tu, .page-nhanvien-kpi.ex_me .field-name-field-giao-kpi-den {
  pointer-events: none;
}
/* line 214, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me .field-name-field-giaokpi-giaotheo .form-radios input[checked="checked"] {
  display: inline-block;
}
/* line 216, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me .field-name-field-giaokpi-giaotheo .form-radios input[checked="checked"] + label {
  display: inline-block;
}
/* line 222, sass/_kpi.scss */
.page-nhanvien-kpi.ex_me .field-name-field-kpi-giao-tu input, .page-nhanvien-kpi.ex_me .field-name-field-giao-kpi-den input {
  background-color: transparent;
}

/* line 2, sass/_setting.scss */
.page-caidat #edit-actions {
  padding-top: 20px;
  clear: both;
}
/* line 27, sass/_mixin.scss */
.page-caidat #edit-actions::after, .page-caidat #edit-actions::before {
  display: table;
  clear: both;
  content: "";
}
/* line 5, sass/_setting.scss */
.page-caidat #edit-actions input {
  margin-right: 15px;
}
/* line 9, sass/_setting.scss */
.page-caidat .form-item-path-alias, .page-caidat #edit-relations {
  display: none;
}
/* line 13, sass/_setting.scss */
.page-caidat .form-item-name label {
  display: inline-block;
  padding-right: 15px;
}
/* line 17, sass/_setting.scss */
.page-caidat .form-item-name input {
  display: inline-block;
  vertical-align: middle;
  max-width: 30%;
}
/* line 24, sass/_setting.scss */
.page-caidat .pager {
  margin-top: 20px;
}

/* line 32, sass/_setting.scss */
.page-caidat-nhom-admin-add #block-system-main, .page-caidat-nhom-admin-edit #block-system-main, .page-caidat-phongban-edit #block-system-main, .page-caidat-phongban-add #block-system-main {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}
/* line 37, sass/_setting.scss */
.page-caidat-nhom-admin-add .form-item-name, .page-caidat-nhom-admin-edit .form-item-name, .page-caidat-phongban-edit .form-item-name, .page-caidat-phongban-add .form-item-name {
  padding-top: 30px;
}
/* line 39, sass/_setting.scss */
.page-caidat-nhom-admin-add .form-item-name label, .page-caidat-nhom-admin-edit .form-item-name label, .page-caidat-phongban-edit .form-item-name label, .page-caidat-phongban-add .form-item-name label {
  float: left;
  margin-top: 5px;
  width: 30%;
}
/* line 44, sass/_setting.scss */
.page-caidat-nhom-admin-add .form-item-name input, .page-caidat-nhom-admin-edit .form-item-name input, .page-caidat-phongban-edit .form-item-name input, .page-caidat-phongban-add .form-item-name input {
  max-width: 70%;
}
/* line 48, sass/_setting.scss */
.page-caidat-nhom-admin-add #edit-actions, .page-caidat-nhom-admin-edit #edit-actions, .page-caidat-phongban-edit #edit-actions, .page-caidat-phongban-add #edit-actions {
  text-align: center;
}
/* line 50, sass/_setting.scss */
.page-caidat-nhom-admin-add #edit-actions input, .page-caidat-nhom-admin-edit #edit-actions input, .page-caidat-phongban-edit #edit-actions input, .page-caidat-phongban-add #edit-actions input {
  margin-left: 7px;
  margin-right: 7px;
}

/* line 59, sass/_setting.scss */
.page-caidat-kpi .vertical-tabs.clearfix {
  display: none;
}
/* line 62, sass/_setting.scss */
.page-caidat-kpi form {
  margin: 0 -10px;
}
/* line 64, sass/_setting.scss */
.page-caidat-kpi form .form-item-title, .page-caidat-kpi form .form-wrapper {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* line 76, sass/_setting.scss */
.page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region h2 {
  font-size: 24px;
  margin: 0 0 30px;
  text-align: center;
}
/* line 80, sass/_setting.scss */
.page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region h2 a {
  color: #333;
}
/* line 85, sass/_setting.scss */
.page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-nhomchiteu h3 {
  margin-bottom: 5px;
}
/* line 88, sass/_setting.scss */
.page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-nhomchiteu ul {
  margin-top: 0;
}
/* line 92, sass/_setting.scss */
.page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-mota-giai, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-sanpham {
  margin-bottom: 15px;
}
/* line 94, sass/_setting.scss */
.page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-mota-giai .field-label, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-sanpham .field-label {
  margin-bottom: 5px;
}
/* line 97, sass/_setting.scss */
.page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-mota-giai .field-items, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-sanpham .field-items {
  margin-left: 29px;
}
/* line 101, sass/_setting.scss */
.page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-toithieu-kpi, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-muctieu-kpi, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-donvi-kpi, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-trongso-kpi {
  margin-bottom: 15px;
}
/* line 103, sass/_setting.scss */
.page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-toithieu-kpi .field-label, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-toithieu-kpi .field-items, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-muctieu-kpi .field-label, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-muctieu-kpi .field-items, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-donvi-kpi .field-label, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-donvi-kpi .field-items, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-trongso-kpi .field-label, .page-caidat-kpi-admin-view .node-kpi.node-promoted.contextual-links-region .field-name-field-trongso-kpi .field-items {
  display: inline-block;
  vertical-align: middle;
}

/* line 113, sass/_setting.scss */
.page-caidat-user-add .element-invisible, .page-caidat-user-edit .element-invisible {
  height: auto;
  position: static !important;
}
/* line 117, sass/_setting.scss */
.page-caidat-user-add .description, .page-caidat-user-add .password-strength-title, .page-caidat-user-add .password-indicator, .page-caidat-user-add .confirm-parent div.password-confirm, .page-caidat-user-add .password-strength, .page-caidat-user-edit .description, .page-caidat-user-edit .password-strength-title, .page-caidat-user-edit .password-indicator, .page-caidat-user-edit .confirm-parent div.password-confirm, .page-caidat-user-edit .password-strength {
  display: none !important;
}
/* line 120, sass/_setting.scss */
.page-caidat-user-add .confirm-parent, .page-caidat-user-add .password-parent, .page-caidat-user-edit .confirm-parent, .page-caidat-user-edit .password-parent {
  width: auto;
}
/* line 123, sass/_setting.scss */
.page-caidat-user-add #block-system-main, .page-caidat-user-edit #block-system-main {
  max-width: 50%;
  margin: auto;
}
/* line 126, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item, .page-caidat-user-edit #block-system-main .form-item {
  margin-top: 0;
  margin-bottom: 15px;
  clear: both;
}
/* line 27, sass/_mixin.scss */
.page-caidat-user-add #block-system-main .form-item::after, .page-caidat-user-add #block-system-main .form-item::before, .page-caidat-user-edit #block-system-main .form-item::after, .page-caidat-user-edit #block-system-main .form-item::before {
  display: table;
  clear: both;
  content: "";
}
/* line 130, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item.form-item-pass, .page-caidat-user-edit #block-system-main .form-item.form-item-pass {
  margin-bottom: 0;
}
/* line 133, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item > label, .page-caidat-user-edit #block-system-main .form-item > label {
  float: left;
  width: 30%;
  margin-top: 5px;
  padding-right: 10px;
}
/* line 139, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item input[type="text"], .page-caidat-user-add #block-system-main .form-item select, .page-caidat-user-add #block-system-main .form-item .form-radios, .page-caidat-user-add #block-system-main .form-item .form-checkboxes, .page-caidat-user-add #block-system-main .form-item input[type="email"], .page-caidat-user-add #block-system-main .form-item input[type="password"], .page-caidat-user-edit #block-system-main .form-item input[type="text"], .page-caidat-user-edit #block-system-main .form-item select, .page-caidat-user-edit #block-system-main .form-item .form-radios, .page-caidat-user-edit #block-system-main .form-item .form-checkboxes, .page-caidat-user-edit #block-system-main .form-item input[type="email"], .page-caidat-user-edit #block-system-main .form-item input[type="password"] {
  float: left;
  width: 70%;
  max-width: 70%;
  margin-bottom: 0;
}
/* line 146, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item .form-radios label, .page-caidat-user-add #block-system-main .form-item .form-checkboxes label, .page-caidat-user-edit #block-system-main .form-item .form-radios label, .page-caidat-user-edit #block-system-main .form-item .form-checkboxes label {
  float: none;
  width: auto;
  margin: 0;
}
/* line 151, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item .form-radios .form-item, .page-caidat-user-add #block-system-main .form-item .form-checkboxes .form-item, .page-caidat-user-edit #block-system-main .form-item .form-radios .form-item, .page-caidat-user-edit #block-system-main .form-item .form-checkboxes .form-item {
  margin-bottom: 2px;
}
/* line 153, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item .form-radios .form-item input, .page-caidat-user-add #block-system-main .form-item .form-checkboxes .form-item input, .page-caidat-user-edit #block-system-main .form-item .form-radios .form-item input, .page-caidat-user-edit #block-system-main .form-item .form-checkboxes .form-item input {
  vertical-align: middle;
  margin-top: 0;
  margin-left: 0;
}
/* line 158, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item .form-radios .form-item input[type="radio"], .page-caidat-user-add #block-system-main .form-item .form-checkboxes .form-item input[type="radio"], .page-caidat-user-edit #block-system-main .form-item .form-radios .form-item input[type="radio"], .page-caidat-user-edit #block-system-main .form-item .form-checkboxes .form-item input[type="radio"] {
  position: relative;
  top: -2px;
}
/* line 165, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item.form-item-notify label, .page-caidat-user-edit #block-system-main .form-item.form-item-notify label {
  font-weight: bold;
  margin-top: 0;
}
/* line 169, sass/_setting.scss */
.page-caidat-user-add #block-system-main .form-item.form-item-notify input, .page-caidat-user-edit #block-system-main .form-item.form-item-notify input {
  margin: 0;
}
/* line 174, sass/_setting.scss */
.page-caidat-user-add #block-system-main #edit-actions, .page-caidat-user-edit #block-system-main #edit-actions {
  text-align: center;
}

/* line 181, sass/_setting.scss */
.page-caidat-user form .description {
  display: none;
}

/* line 2, sass/_login.scss */
.page-user h1#page-title {
  display: none;
}
/* line 5, sass/_login.scss */
.page-user .tabs {
  margin: -20px 0 0 -20px;
}
/* line 9, sass/_login.scss */
.page-user ul.tabs.primary a {
  border: none;
}
/* line 14, sass/_login.scss */
.page-user #block-system-main form {
  max-width: 480px;
  margin: 30px 0 0 18px;
}
/* line 20, sass/_login.scss */
.page-user.not-logged-in #messages {
  display: none;
}
@media print{
    #header {display: none;}
    .menu_student {display: none;}
    .filter_time {border: none;}
}