@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedRegular_0.eot");
  src: url("../fonts/RobotoCondensedRegular_0.eot") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular_0.woff2") format("woff2"), url("../fonts/RobotoCondensedRegular_0.woff") format("woff"), url("../fonts/RobotoCondensedRegular_0.ttf") format("truetype"), url("../fonts/RobotoCondensedRegular_0.svg#RobotoCondensedRegular_0") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedBold_0.eot");
  src: url("../fonts/RobotoCondensedBold_0.eot") format("embedded-opentype"), url("../fonts/RobotoCondensedBold_0.woff2") format("woff2"), url("../fonts/RobotoCondensedBold_0.woff") format("woff"), url("../fonts/RobotoCondensedBold_0.ttf") format("truetype"), url("../fonts/RobotoCondensedBold_0.svg#RobotoCondensedBold_0") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedBoldItalic_0.eot");
  src: url("../fonts/RobotoCondensedBoldItalic_0.eot") format("embedded-opentype"), url("../fonts/RobotoCondensedBoldItalic_0.woff2") format("woff2"), url("../fonts/RobotoCondensedBoldItalic_0.woff") format("woff"), url("../fonts/RobotoCondensedBoldItalic_0.ttf") format("truetype"), url("../fonts/RobotoCondensedBoldItalic_0.svg#RobotoCondensedBoldItalic_0") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensedItalic_0.eot");
  src: url("../fonts/RobotoCondensedItalic_0.eot") format("embedded-opentype"), url("../fonts/RobotoCondensedItalic_0.woff2") format("woff2"), url("../fonts/RobotoCondensedItalic_0.woff") format("woff"), url("../fonts/RobotoCondensedItalic_0.ttf") format("truetype"), url("../fonts/RobotoCondensedItalic_0.svg#RobotoCondensedItalic_0") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* line 49, sass/_theme.scss */
input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select {
  background-color: #f2f2f2;
  border: medium none;
  height: 30px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  padding-left: 5px;
}

/* line 59, sass/_theme.scss */
textarea {
  background-color: #f2f2f2;
  border: medium none;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  padding-left: 5px;
  height: 80px;
}

/* line 70, sass/_theme.scss */
input[type="submit"] {
  color: #2f2f2f;
  font-size: 11px;
  font-weight: bold;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
  min-width: 104px;
  background: #fcbc17;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/* line 83, sass/_theme.scss */
input[type="submit"]:hover {
  background: #2f2f2f;
  color: #fff;
}

/* line 89, sass/_theme.scss */
.clrb {
  clear: left;
}

/* line 93, sass/_theme.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 97, sass/_theme.scss */
a {
  color: #333;
  text-decoration: none;
}
/* line 100, sass/_theme.scss */
a:hover {
  text-decoration: underline;
}

/* line 105, sass/_theme.scss */
#content {
  width: 1004px;
  margin: auto;
  background: #fff;
  padding: 20px;
  min-height: 420px;
}

/* line 114, sass/_theme.scss */
body {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  background: url("../images/body.jpg") repeat;
  margin: 0;
  padding: 0;
}

/* line 123, sass/_theme.scss */
.sticky-header {
  display: none;
}

/* line 127, sass/_theme.scss */
.menu_student {
  margin: auto;
  list-style: none;
  width: 1004px;
  background: #838484;
  border-bottom: 3px solid #fcbc18;
  padding: 0 20px;
}
/* line 134, sass/_theme.scss */
.menu_student li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 26px 0 0;
  padding: 9px 0 11px;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/* line 142, sass/_theme.scss */
.menu_student li:hover::after, .menu_student li.active::after {
  border-bottom: 12px solid #fcbc18;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -3px;
  position: absolute;
  width: 0;
}
/* line 155, sass/_theme.scss */
.menu_student li:hover a, .menu_student li.active a {
  color: #fcbc18;
}
/* line 159, sass/_theme.scss */
.menu_student li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: white;
  float: none;
  font-size: 18px;
}
/* line 164, sass/_theme.scss */
.menu_student li a:hover {
  text-decoration: none;
  color: #fcbc18;
}

/* line 172, sass/_theme.scss */
table {
  border: 1px solid #ccc;
  width: 100%;
}
/* line 175, sass/_theme.scss */
table tr.even, table tr.odd {
  background-color: transparent;
}
/* line 178, sass/_theme.scss */
table th, table td {
  padding: 5px 8px;
  border-left: 1px solid #ccc;
}
/* line 182, sass/_theme.scss */
table th {
  border-bottom-width: 1px;
}
/* line 187, sass/_theme.scss */
table tr th:first-child, table tr td:first-child {
  border-left: none;
}

/* line 1, sass/_header.scss */
#header {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(122, 113, 133, 0.75);
  box-shadow: 0 1px 1px rgba(122, 113, 133, 0.75);
  margin-bottom: 18px;
}
/* line 5, sass/_header.scss */
#header #page-wrapper {
  width: 1004px;
  margin: auto;
}
/* line 9, sass/_header.scss */
#header #logo {
  float: left;
  margin: 7px 0 5px;
}
/* line 13, sass/_header.scss */
#header #name-and-slogan {
  display: none;
}
/* line 16, sass/_header.scss */
#header .region-header {
  float: right;
  margin-top: 30px;
}
/* line 19, sass/_header.scss */
#header .region-header h2 {
  display: none;
}
/* line 22, sass/_header.scss */
#header .region-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 26, sass/_header.scss */
#header .region-header ul li {
  display: inline-block;
  margin-left: 30px;
}
/* line 29, sass/_header.scss */
#header .region-header ul li a {
  border-bottom: 1px solid #fcbc18;
  color: #222;
  font-size: 18px;
  padding: 0 0 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
/* line 37, sass/_header.scss */
#header .region-header ul li a:hover, #header .region-header ul li a.active {
  border-bottom-width: 3px;
  padding-bottom: 0;
}

/* line 1, sass/_footer.scss */
#footer-wrapper {
  background: #fff;
  padding: 20px 0;
  margin-top: 30px;
}
/* line 5, sass/_footer.scss */
#footer-wrapper #page-wrapper {
  width: 1004px;
  margin: auto;
  text-align: center;
}

/* line 1, sass/_nhanvien.scss */
#page-title {
  margin: 0 0 30px;
  font-size: 24px;
  text-align: center;
}

/* line 9, sass/_nhanvien.scss */
.page-nhanvien .block-system label {
  font-weight: normal;
}
/* line 12, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image {
  float: left;
  width: 220px;
  margin-right: 20px;
  min-height: 125px;
  text-align: center;
}
/* line 18, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image div.image-widget-data {
  float: none;
}
/* line 21, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image label {
  display: none;
}
/* line 24, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image input[type="submit"] {
  margin-top: 8px;
}
/* line 27, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image div.image-preview {
  float: none;
  padding: 0;
  text-align: center;
}
/* line 32, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image .file, .page-nhanvien .block-system .field-type-image .file-size {
  display: none;
}
/* line 35, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image .form-managed-file {
  text-align: center;
}
/* line 39, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-image .description {
  display: none;
}
/* line 43, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-text, .page-nhanvien .block-system .field-type-datestamp, .page-nhanvien .block-system .field-type-text-with-summary {
  float: left;
  width: 33.33%;
  padding: 0 10px;
  margin-bottom: 15px;
}
/* line 48, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-text label, .page-nhanvien .block-system .field-type-text legend, .page-nhanvien .block-system .field-type-datestamp label, .page-nhanvien .block-system .field-type-datestamp legend, .page-nhanvien .block-system .field-type-text-with-summary label, .page-nhanvien .block-system .field-type-text-with-summary legend {
  margin-bottom: 3px;
}
/* line 52, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-type-text div, .page-nhanvien .block-system .field-type-datestamp div, .page-nhanvien .block-system .field-type-text-with-summary div {
  margin: 0;
}
/* line 56, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title, .page-nhanvien .block-system .field-name-field-tenkhac, .page-nhanvien .block-system .field-name-field-ngaysinh, .page-nhanvien .block-system .field-name-field-gioitinh {
  float: left;
  width: 724px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0;
}
/* line 64, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title div, .page-nhanvien .block-system .field-name-field-tenkhac div, .page-nhanvien .block-system .field-name-field-ngaysinh div, .page-nhanvien .block-system .field-name-field-gioitinh div {
  margin: 0;
}
/* line 67, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title label, .page-nhanvien .block-system .form-item-title legend, .page-nhanvien .block-system .field-name-field-tenkhac label, .page-nhanvien .block-system .field-name-field-tenkhac legend, .page-nhanvien .block-system .field-name-field-ngaysinh label, .page-nhanvien .block-system .field-name-field-ngaysinh legend, .page-nhanvien .block-system .field-name-field-gioitinh label, .page-nhanvien .block-system .field-name-field-gioitinh legend {
  float: left;
  width: 40%;
  background: #838484;
  color: #fff;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  margin: 0;
}
/* line 77, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title input, .page-nhanvien .block-system .form-item-title select, .page-nhanvien .block-system .form-item-title .fieldset-wrapper, .page-nhanvien .block-system .field-name-field-tenkhac input, .page-nhanvien .block-system .field-name-field-tenkhac select, .page-nhanvien .block-system .field-name-field-tenkhac .fieldset-wrapper, .page-nhanvien .block-system .field-name-field-ngaysinh input, .page-nhanvien .block-system .field-name-field-ngaysinh select, .page-nhanvien .block-system .field-name-field-ngaysinh .fieldset-wrapper, .page-nhanvien .block-system .field-name-field-gioitinh input, .page-nhanvien .block-system .field-name-field-gioitinh select, .page-nhanvien .block-system .field-name-field-gioitinh .fieldset-wrapper {
  float: left;
  width: 60% !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  text-indent: 5px;
}
/* line 85, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-item-title {
  border-top: 1px solid #ccc;
}
/* line 90, sass/_nhanvien.scss */
.page-nhanvien .block-system .group_info {
  clear: left;
  font-size: 16px;
  border-bottom: 2px solid #fcbc17;
  padding-bottom: 2px;
  margin: 0 0 20px;
  padding-top: 30px;
  text-transform: uppercase;
}
/* line 99, sass/_nhanvien.scss */
.page-nhanvien .block-system h3 {
  font-weight: normal;
  font-size: 15px;
  clear: left;
}
/* line 104, sass/_nhanvien.scss */
.page-nhanvien .block-system .h3-float {
  float: left;
  padding-left: 10px;
  width: 10%;
  margin: 5px 0 0;
}
/* line 111, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-xa, .page-nhanvien .block-system .field-name-field-huyen, .page-nhanvien .block-system .field-name-field-tinh,
.page-nhanvien .block-system .field-name-field-xa-que, .page-nhanvien .block-system .field-name-field-huyen-que, .page-nhanvien .block-system .field-name-field-tinh-que {
  float: left;
  width: 30%;
}
/* line 115, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-xa div, .page-nhanvien .block-system .field-name-field-huyen div, .page-nhanvien .block-system .field-name-field-tinh div,
.page-nhanvien .block-system .field-name-field-xa-que div, .page-nhanvien .block-system .field-name-field-huyen-que div, .page-nhanvien .block-system .field-name-field-tinh-que div {
  margin: 0;
}
/* line 118, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-xa label, .page-nhanvien .block-system .field-name-field-huyen label, .page-nhanvien .block-system .field-name-field-tinh label,
.page-nhanvien .block-system .field-name-field-xa-que label, .page-nhanvien .block-system .field-name-field-huyen-que label, .page-nhanvien .block-system .field-name-field-tinh-que label {
  float: left;
  width: 17%;
  margin-top: 5px;
}
/* line 123, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-xa input, .page-nhanvien .block-system .field-name-field-huyen input, .page-nhanvien .block-system .field-name-field-tinh input,
.page-nhanvien .block-system .field-name-field-xa-que input, .page-nhanvien .block-system .field-name-field-huyen-que input, .page-nhanvien .block-system .field-name-field-tinh-que input {
  width: 83%;
}
/* line 128, sass/_nhanvien.scss */
.page-nhanvien .block-system .field-name-field-tham-gia {
  clear: left;
}
/* line 132, sass/_nhanvien.scss */
.page-nhanvien .block-system fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
/* line 136, sass/_nhanvien.scss */
.page-nhanvien .block-system fieldset div {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
/* line 140, sass/_nhanvien.scss */
.page-nhanvien .block-system fieldset div input {
  width: 100% !important;
}
/* line 144, sass/_nhanvien.scss */
.page-nhanvien .block-system fieldset label, .page-nhanvien .block-system fieldset .description {
  display: none;
}
/* line 149, sass/_nhanvien.scss */
.page-nhanvien .block-system table {
  border: 1px solid #ccc;
  width: 100%;
}
/* line 153, sass/_nhanvien.scss */
.page-nhanvien .block-system table fieldset legend {
  display: none;
}
/* line 157, sass/_nhanvien.scss */
.page-nhanvien .block-system table tr.even, .page-nhanvien .block-system table tr.odd {
  background-color: transparent;
}
/* line 160, sass/_nhanvien.scss */
.page-nhanvien .block-system table th, .page-nhanvien .block-system table td {
  padding: 5px 8px;
  border-left: 1px solid #ccc;
}
/* line 164, sass/_nhanvien.scss */
.page-nhanvien .block-system table th {
  border-bottom-width: 1px;
}
/* line 169, sass/_nhanvien.scss */
.page-nhanvien .block-system table tr th:first-child, .page-nhanvien .block-system table tr td:first-child {
  border-left: none;
}
/* line 176, sass/_nhanvien.scss */
.page-nhanvien .block-system h1 {
  font-size: 18px;
  clear: both;
}
/* line 181, sass/_nhanvien.scss */
.page-nhanvien .block-system .form-actions input {
  margin-right: 15px;
}
/* line 185, sass/_nhanvien.scss */
.page-nhanvien .block-system h4 {
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
  margin: 0;
}
/* line 191, sass/_nhanvien.scss */
.page-nhanvien .block-system #fgm_node_article_form_group_chiteu-add-more-wrapper {
  position: relative;
}
/* line 197, sass/_nhanvien.scss */
.page-nhanvien .block-system #fgm_node_article_form_group_chiteu-add-more-wrapper table tr td:first-child select {
  width: 220px;
}
/* line 202, sass/_nhanvien.scss */
.page-nhanvien .block-system #fgm_node_article_form_group_chiteu-add-more-wrapper table tr td:nth-child(2) select {
  width: 300px;
}
/* line 209, sass/_nhanvien.scss */
.page-nhanvien .block-system #fgm_node_article_form_group_chiteu-add-more-wrapper .field-group-multiple-add-more-submit {
  position: absolute;
  left: 117px;
  bottom: -41px;
}

/* line 219, sass/_nhanvien.scss */
.admin-menu.page-nhanvien div.vertical-tabs {
  margin-top: 60px;
}
/* line 222, sass/_nhanvien.scss */
.admin-menu.page-nhanvien .block-system #fgm_node_article_form_group_chiteu-add-more-wrapper .field-group-multiple-add-more-submit {
  left: 0;
}
