#header{
  background: #fff;
  @include box-shadow(0 1px 1px rgba(122, 113, 133, 0.75));
  margin-bottom: 18px;
  #page-wrapper{
    width: 1004px;
    margin: auto;
  }
  #logo{
    float: left;
    margin: 7px 0 5px;
  }
  #name-and-slogan{
    display: none;
  }
  .region-header{
    float: right;
    margin-top: 30px;
    h2{
      display: none;
    }
    ul.menu{
      list-style: none;
      margin: 0;
      padding: 0;
      &>li{
        display: inline-block;
        margin-left: 30px;
        position: relative;
        vertical-align: top;
        a{
          border-bottom: 1px solid #fcbc18;
          color: #222;
          font-size: 18px;
          padding: 0 0 2px;
          text-transform: uppercase;
          text-decoration: none;
          margin: 0;
          &:hover,&.active{
            border-bottom-width: 3px;
            padding-bottom: 0;
          }
        }
        ul{
          position: absolute;
          top:100%;
          width: 400px;
          left: -200px;
          margin-top: 8px;
          text-align: center;
          li{
            a{
              text-transform: inherit;
              border:none;
              font-size: 16px;
              color:#444;
            }
          }
        }
      }
    }
  }
}
