.content_revenue{
//  margin-top: -60px;
  table{
    thead{
      tr{
        background: #f8f7f7;
      }
    }
    td{
      color:#009ac3;
      a{
        &:hover{
          text-decoration: none;
        }
      }
      span{
        cursor: pointer;
        @include transition();
        color:#47812c;
        &:hover{
          color:#333;
        }
      }
    }
    tr.even{
      background: #f8f7f7;
    }
  }
}

#chart_colum .loadding{
  text-align: center;
  img{
    max-width: 45px;
  }
}

#nhansu-chart-form-select{
  margin-bottom: 15px;
  &::after{
    content: "";
    display: table;
    clear: both;
  }
  .form-type-select{
    float: left;
    width: 50%;
    label{
      float: left;
      width: 22%;
      margin-top:4px;
    }
    select{
      float: left;
      width: 78%;
    }
  }
  .form-item-selected-phong{
    padding-right: 15px;
  }
  .form-item-selected{
    padding-left: 15px;
  }
}