.content_revenue{
//  margin-top: -60px;
  table{
    thead{
      tr{
        background: #f8f7f7;
      }
    }
    td{
      color:#009ac3;
      a{
        &:hover{
          text-decoration: none;
        }
      }
      span{
        cursor: pointer;
        @include transition();
        color:#47812c;
        &:hover{
          color:#333;
        }
      }
    }
    tr.even{
      background: #f8f7f7;
    }
  }
}

#chart_colum .loadding{
  text-align: center;
  img{
    max-width: 45px;
  }
}

.chart_reve{
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
#nhansu-chart-form-select{
  margin-bottom: 5px;
  &::after{
    content: "";
    display: table;
    clear: both;
  }
  .form-type-select{
    float: left;
    width: 43%;
    padding-right: 15px;
    label{
      float: left;
      width: 22%;
      margin-top:4px;
    }
    select{
      float: left;
      width: 78%;
    }
  }
}

.filter_time{
  border-bottom:1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 10px;
  @include clearfix();
  .container-inline-date{
    float: left;
    width: 21.7%;
    clear: inherit;
    padding-right: 15px;
    margin-bottom: 1em;
    div{
      display: block;
    }
    .form-item .form-item{
      float: none;
    }
    & > .form-item{
      margin-right: 0;
    }
  }
  label{
    float: left;
    width: 33%;
    margin-top: 5px;
  }
  .date-padding{
    float: left;
    width: 67%;
    div{
      margin: 0;
      padding: 0;
    }
    input{
      width: 100%;
      margin: 0;
    }
    .description, label{
      display: none;
    }
  }
  input[type="submit"]{
    height: 30px;
    min-width: 65px;
  }

  .form-item-selected-phong, .form-item-selected{
    width: 43%;
    @include clearfix();
    padding-right: 9px;
    label{
      float: left;
      margin-top: 4px;
      width: 16%;
    }
    select{
      float: left;
      width: 84%;
    }
  }
  .form-item-selected-phong, .form-item-cac-quy{
    clear: left;

  }
  .form-item-cac-quy, .form-item-nam-quy{
    width: 20.3%;
    margin-right: 15px;
    float: left;
    margin-top: 0;
    label{
      width: 33%;
    }
    select{
      width: 67%;
    }
  }
}

.canhbao_left{
  float: left;
  ul{
    margin: 0 0 10px 20px;
    list-style: none;
    padding: 0;
    li{
      margin-bottom: 5px;
      opacity: 0.2;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 40px !important;
      height: 40px !important;
      &.dat_chuan{
        opacity: 1;
//        animation-duration: 1s;
//        animation-iteration-count: infinite;
//        animation-name: blinker;
//        animation-timing-function: linear;
      }
    }
  }
}
.canhbao_right{
  float: left;
  margin-left: 20px;
  margin-top: 56px;
  color:#bd3027;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blinker {

  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}


.content_home1{
  .right_1{
    float: left;
  }
  .right_2{
    float: right;
  }
}

.vertical-tabs.clearfix{
  display: none;
}