.page-quanly-kpi-danhgia{
  .block-system{
    table{
      tbody{
        tr:last-child{
          font-weight: bold;
        }
      }
    }
  }
}

.page-quanly-kpi-kiemsoat, .page-quanly-kpi-danhgia{
  .form-item-cac-quy, .form-item-nam-quy{
    width: 20.3%;
    margin-right: 15px;
    float: left;
    margin-top: 0;
    label{
      width: 33%;
    }
    select{
      width: 67%;
    }
  }
}


.page-nhanvien-kpi{
  .new_time{
    float: right;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
  }
  .form-item-field-uid-und-0-value{
    display: none;
  }
  .nguoi_giao{
    line-height: 30px;
    float: left;
    width: 724px;
    margin: 0;
    border:1px solid #ccc;
    padding: 0;
    @include clearfix();
    span{
      background: #47812c none repeat scroll 0 0;
      color: #fff;
      float: left;
      height: 30px;
      line-height: 30px;
      margin: 0;
      padding: 0 10px;
      width: 40%;
      margin-right: 8px;
    }
  }

  .field-name-field-giaokpi-giaotheo{
    @include clearfix();
    label[for="edit-field-giaokpi-giaotheo-und"]{
      float: left;
      margin-top: 5px;
      font-weight: bold;
      width: 80px;
    }
    .form-radios{
      .form-item{
        display: inline-block;
        width: 19%;
        input,label{
          margin-top: 0;
          vertical-align: middle;
        }
      }
    }
  }

  .field-name-field-kpi-giao-tu{
    padding-left: 0 !important;
  }
  .field-name-field-kpi-giao-tu, .field-name-field-giao-kpi-den, .form-type-select.form-item-field-giaokpi-quy-und{
    margin-top: 0;
    width: 30% !important;
    legend, label{
      float: left;
      font-weight: bold;
      margin-top: 5px;
      width: 33%;
      padding-right: 15px;
    }
    .fieldset-wrapper, select{
      width: 67% !important;
      float: left;
    }
  }
  .field-name-field-giaokpi-quy{
    @include clearfix();
  }
  .view-id-kpi_user{
    table{
      td{
        vertical-align: top;
        ul, li{
          list-style: none;
          margin: 0;
          padding: 0;
        }

        &.views-field-field-giaokpi-thuchien-editable{
          table{
            thead, .field-multiple-drag{
              display: none;
            }
            tbody{
              tr{
                &:nth-child(3){
                display: none;
              }
              }
            }
          }
          ul, .tabledrag-toggle-weight-wrapper, .clearfix, .tabledrag-handle{
            display: none;
          }

        }
      }
    }
    #edit-actions{
      border-top: none !important;
      padding-top: 0 !important;
    }
  }
  #fgm_node_giao_kpi_form_group_giaokpi-add-more-wrapper{
    table{
      tr{
        td{
          &:first-child{
            width: 60px;
          }
          &:nth-child(3){
            width: 320px;
          }
          &:nth-child(2){
            width: 120px;
          }
        }
      }
    }
  }
  .sum_ts{
    float: right;
    margin-right: 315px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  &.ex_me{
    .sum_ts{
      margin-right: 360px;
    }
  }
  #block-nhansu-kpi-kpi-user{
    span{
      font-weight: bold;
    }
    .giao{
      margin-bottom: 3px;
    }
    .time{
      margin-bottom: 20px;
      span{
        margin-left: 20px;
        &:first-child, &:nth-child(2){
          margin-left: 0;
        }
      }
    }
  }
  #fgm-node-giao-kpi-form-group-giaokpi-values{
    tr{
      td, th{
        &:nth-child(8),&:last-child{
          display: none;
        }
      }
    }
  }
  &.ex_me{
    #fgm-node-giao-kpi-form-group-giaokpi-values{
      input, select{
        pointer-events:none;
        background-color: transparent;
      }
      select{
        @include remove-arrow();
      }
      tr{
        td,th{
          &:nth-child(8), &:last-child{
            display: table-cell;
          }
        }
        td:nth-child(7), td:nth-child(8){
          display: table-cell;
        }
        th:nth-child(7), th:nth-child(8){
          display: table-cell;
        }
        td:nth-child(7){
          input{
            pointer-events:inherit;
            background-color: #f2f2f2;
          }
        }

        td:last-child, th:last-child{
//          display: none;
        }
      }

    }
    #fgm_node_giao_kpi_form_group_giaokpi-add-more-wrapper{
      .field-group-multiple-add-more-submit{
        display: none;
      }
    }
    .field-name-field-giaokpi-giaotheo, .field-name-field-kpi-giao-tu, .field-name-field-giao-kpi-den{
      pointer-events:none;
    }
    .field-name-field-giaokpi-giaotheo .form-radios{
      input, label{
//        display: none;
      }
      input[checked="checked"]{
        display: inline-block;
        &+label{
          display: inline-block;
        }
      }
    }
    .field-name-field-kpi-giao-tu, .field-name-field-giao-kpi-den{
      input{
        background-color: transparent;
      }
    }
  }
}
