@mixin border-radius($value:5px){
  -webkit-border-radius: $value;
  border-radius: $value;
}

@mixin box-shadow($value){
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

@mixin font(){
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

@mixin box-sizing(){
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition(){
  -webkit-transition:all ease 0.5s;
  transition:all ease 0.5s;
}

@mixin clearfix(){
  clear: both;
  &::after,&::before{
    display: table;
    clear: both;
    content: "";
  }
}

@mixin remove-arrow(){
  -o-appearance:none;
  -ms-appearance:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  appearance: none;
  &::-ms-expand{
    display:none;
  }
}