#page-title{
  margin: 0 0 30px;
  font-size: 24px;
  text-align: center;
}

.page-nhanvien{
  .block-system{
    label{
      font-weight: normal;
    }
    .field-type-image{
      float: left;
      width: 220px;
      margin-right: 20px;
      min-height: 125px;
      text-align: center;
      div.image-widget-data{
        float: none;
      }
      label{
        display: none;
      }
      input[type="submit"]{
        margin-top: 8px;
      }
      div.image-preview{
        float: none;
        padding: 0;
        text-align: center;
      }
      .file, .file-size{
        display: none;
      }
      .form-managed-file{
        text-align: center;

      }
      .description{
        display: none;
      }
    }
    .field-type-text, .field-type-datestamp, .field-type-text-with-summary{
      float: left;
      width: 33.33%;
      padding: 0 10px;
      margin-bottom: 10px;
      label,legend{
        margin-bottom: 3px;
      }

      div{
        margin: 0;
      }
    }
    .form-item-title, .field-name-field-tenkhac, .field-name-field-ngaysinh, .field-name-field-gioitinh{
      float: left;
      width: 724px;
      margin: 0;
      border-bottom:1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding: 0;
      div{
        margin: 0;
      }
      label{
        float: left;
        width: 40%;
        background: #838484;
        color: #fff;
        height: 30px;
        padding: 0 10px;
        line-height: 30px;
        margin: 0;
      }
      input, select{
        float: left;
        width: 60%;
        @include box-shadow(none);
        background-color: transparent;
        text-indent: 5px;
      }
    }
    .form-item-title{
      border-top:1px solid #ccc;
    }


    h3{
      clear: left;
      font-size: 16px;
      border-bottom: 2px solid #fcbc17;
      padding-bottom: 2px;
      margin: 10px 0;
    }

    .field-name-field-xa, .field-name-field-huyen, .field-name-field-tinh,
    .field-name-field-xa-que, .field-name-field-huyen-que, .field-name-field-tinh-que{
      float: left;
      width: 33.33%;
      margin-bottom: 10px;
      div{
        margin: 0;
      }
    }

    .field-name-field-tham-gia{
      clear: left;
    }

    fieldset{
      padding: 0;
      margin: 0;
      border: none;
      div{
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        input{
          width: 100% !important;
        }
      }
      label, .description{
        display: none;
      }
    }

    table{
      border: 1px solid #ccc;
      width: 100%;
      fieldset{
        legend{
          display: none;
        }
      }
      tr.even, tr.odd{
        background-color: transparent;
      }
      th,td{
        padding: 5px 8px;
        border-left: 1px solid #ccc;
      }
      th{
        border-bottom-width: 1px;
      }
      tr{
        th,td{
          &:first-child{
            border-left: none;
          }
        }
      }
    }

    h1{
      font-size: 18px;
      clear: both;
    }
    .form-actions{
      input{
        margin-right: 15px;
      }
    }
    h4{
      font-weight: normal;
      font-size: 12px;
      font-style: italic;
      margin: 0;
    }
    #fgm_node_article_form_group_chiteu-add-more-wrapper{
      position: relative;
      .field-group-multiple-add-more-submit{
        position: absolute;
        left: 117px;
        bottom: -43px;
      }
    }
  }
}

