.page-caidat{
  #edit-actions{
    padding-top: 20px;
    @include clearfix();
    input{
      margin-right: 15px;
    }
  }
  .form-item-path-alias, #edit-relations{
    display: none;
  }
  .form-item-name{
    label{
      display: inline-block;
      padding-right: 15px;
    }
    input{
      display: inline-block;
      vertical-align: middle;
      max-width: 30%;
    }
  }

  .pager{
    margin-top: 20px;
  }
}


// tab nhom chi tieu, tab phong ban
.page-caidat-nhom-admin-add, .page-caidat-nhom-admin-edit, .page-caidat-phongban-edit, .page-caidat-phongban-add{
  #block-system-main{
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  .form-item-name{
    padding-top: 30px;
    label{
      float: left;
      margin-top: 5px;
      width: 30%;
    }
    input{
      max-width: 70%;
    }
  }
  #edit-actions{
    text-align: center;
    input{
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}

// tab thu vien kpi
.page-caidat-kpi{
  .vertical-tabs.clearfix{
    display: none;
  }
  form{
    margin: 0 -10px;
    .form-item-title, .form-wrapper{
      float: left;
      width: 50%;
      padding: 0 10px;
    }

  }
}

// xem kpi
.page-caidat-kpi-admin-view{
  .node-kpi.node-promoted.contextual-links-region{
    h2{
      font-size: 24px;
      margin: 0 0 30px;
      text-align: center;
      a{
        color: #333;
      }
    }
    .field-name-field-nhomchiteu{
      h3{
        margin-bottom: 5px;
      }
      ul{
        margin-top: 0;
      }
    }
    .field-name-field-mota-giai, .field-name-field-sanpham{
      margin-bottom: 15px;
      .field-label{
        margin-bottom: 5px;
      }
      .field-items{
        margin-left: 29px;
      }
    }
    .field-name-field-toithieu-kpi, .field-name-field-muctieu-kpi, .field-name-field-donvi-kpi, .field-name-field-trongso-kpi{
      margin-bottom: 15px;
      .field-label, .field-items{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

// tab user
.page-caidat-user-add, .page-caidat-user-edit{
  .element-invisible{
    height: auto;
    position: static !important;
  }
  .description, .password-strength-title, .password-indicator, .confirm-parent div.password-confirm, .password-strength{
    display: none !important;
  }
  .confirm-parent, .password-parent{
    width: auto;
  }
  #block-system-main{
    max-width: 50%;
    margin: auto;
    .form-item{
      margin-top: 0;
      margin-bottom: 15px;
      @include clearfix();
      &.form-item-pass{
        margin-bottom: 0;
      }
      &>label{
        float: left;
        width: 30%;
        margin-top: 5px;
        padding-right: 10px;
      }
      input[type="text"], select, .form-radios, .form-checkboxes, input[type="email"], input[type="password"]{
        float: left;
        width: 70%;
        max-width:70%;
        margin-bottom: 0;
      }
      .form-radios, .form-checkboxes{
        label{
          float: none;
          width: auto;
          margin: 0;
        }
        .form-item{
          margin-bottom: 2px;
          input{
            vertical-align: middle;
            margin-top: 0;
            margin-left: 0;
          }
          input[type="radio"]{
            position: relative;
            top:-2px;
          }
        }
      }
      &.form-item-notify{
        label{
          font-weight: bold;
          margin-top: 0;
        }
        input{
          margin: 0;
        }
      }
    }
    #edit-actions{
      text-align: center;
    }
  }
}

.page-caidat-user{
  form .description{
    display: none;
  }
}

