@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/RobotoCondensedRegular_0.eot');
  src: url('../fonts/RobotoCondensedRegular_0.eot') format('embedded-opentype'),
  url('../fonts/RobotoCondensedRegular_0.woff2') format('woff2'),
  url('../fonts/RobotoCondensedRegular_0.woff') format('woff'),
  url('../fonts/RobotoCondensedRegular_0.ttf') format('truetype'),
  url('../fonts/RobotoCondensedRegular_0.svg#RobotoCondensedRegular_0') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/RobotoCondensedBold_0.eot');
  src: url('../fonts/RobotoCondensedBold_0.eot') format('embedded-opentype'),
  url('../fonts/RobotoCondensedBold_0.woff2') format('woff2'),
  url('../fonts/RobotoCondensedBold_0.woff') format('woff'),
  url('../fonts/RobotoCondensedBold_0.ttf') format('truetype'),
  url('../fonts/RobotoCondensedBold_0.svg#RobotoCondensedBold_0') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/RobotoCondensedBoldItalic_0.eot');
  src: url('../fonts/RobotoCondensedBoldItalic_0.eot') format('embedded-opentype'),
  url('../fonts/RobotoCondensedBoldItalic_0.woff2') format('woff2'),
  url('../fonts/RobotoCondensedBoldItalic_0.woff') format('woff'),
  url('../fonts/RobotoCondensedBoldItalic_0.ttf') format('truetype'),
  url('../fonts/RobotoCondensedBoldItalic_0.svg#RobotoCondensedBoldItalic_0') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/RobotoCondensedItalic_0.eot');
  src: url('../fonts/RobotoCondensedItalic_0.eot') format('embedded-opentype'),
  url('../fonts/RobotoCondensedItalic_0.woff2') format('woff2'),
  url('../fonts/RobotoCondensedItalic_0.woff') format('woff'),
  url('../fonts/RobotoCondensedItalic_0.ttf') format('truetype'),
  url('../fonts/RobotoCondensedItalic_0.svg#RobotoCondensedItalic_0') format('svg');
  font-weight: normal;
  font-style: italic;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select{
  background-color: #f4f3f3;
  border: medium none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28) inset;
  height: 30px;
  @include font();
  font-size: 14px;
  width: 100%;
  padding-left: 5px;
}
textarea{
  background-color: #f4f3f3;
  border: medium none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28) inset;
  @include font();
  font-size: 14px;
  width: 100%;
  padding-left: 5px;
}

input[type="submit"]{
  color: #2f2f2f;
  font-size: 11px;
  font-weight: bold;
  @include font();
  text-transform: uppercase;
  padding: 5px 10px;
  min-width: 104px;
  background: #fcbc17;
  @include border-radius(10px);
  cursor: pointer;
  border: none;
  @include transition();
  &:hover{
    background: #2f2f2f;
    color: #fff;
  }
}

*{
  @include box-sizing();
}

a{
  color: #333;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

#content{
  width: 1004px;
  margin: auto;
  background: #fff;
  padding: 20px;
  min-height: 420px;

}

body{
  @include font();
  font-size: 15px;
  color:#333;
  background: url("../images/body.jpg") repeat;
  margin: 0;
  padding: 0;
}

.sticky-header{
  display: none;
}

.menu_student{
  margin: auto;
  list-style: none;
  width: 1004px;
  background: #838484;
  border-bottom: 3px solid #fcbc18;
  padding: 0 20px;
  li{
    display: inline-block;
    list-style: outside none none;
    margin: 0 26px 0 0;
    padding: 9px 0 11px;
    position: relative;
    @include transition();
    &:hover, &.active{
      &::after{
        border-bottom: 12px solid #fcbc18;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 0;
        left: 50%;
        margin-left: -3px;
        position: absolute;
        width: 0;
      }
      a{
        color: #fcbc18;
      }
    }
    a{
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      color: white;
      float: none;
      font-size: 18px;
      &:hover{
        text-decoration: none;
        color: #fcbc18;
      }
    }
  }
}

table{
  border: 1px solid #ccc;
  width: 100%;
  tr.even, tr.odd{
    background-color: transparent;
  }
  th,td{
    padding: 5px 8px;
    border-left: 1px solid #ccc;
  }
  th{
    border-bottom-width: 1px;
  }
  tr{
    th,td{
      &:first-child{
        border-left: none;
      }
    }
  }
}